<h1>Register</h1>

<%= form_with(model: @user, url: register_path) do |form| %>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
  <br>
  
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
  <br>

  <%= form.label :email %>
  <%= form.email_field :email %>
  <br>

  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <br>
  
  <%= form.submit 'Register' %>
<% end %>
